<a href="/home" class="home-button">Page d'accueil</a>

<main class="mainFrame">
        
    <!-- Affichage heure et date -->
    <div class="statusBar">
        <span id="time"></span>
        <span id="date"></span>
    </div>

    <nav>
        <ul>
            <li><a routerLink="/insta"><img src="../../assets/icons/Instagram.png" alt=""></a></li>
            <li><a routerLink="/snap"><img src="../../assets/icons/snapchat.png" alt=""></a></li>
            <li><a routerLink="/"><img src="../../assets/icons/home.png" alt=""></a></li>
            <li><a routerLink="/whatsapp"><img src="../../assets/icons/whatsapp.png" alt=""></a></li>
            <li><a routerLink="/tiktok"><img src="../../assets/icons/tiktok.png" alt=""></a></li>
        </ul>
    </nav>
  </main>