<main class="mainFrame">
    <div class="container">
        <img src="../../assets/icons/tiktok.png" alt="TikTok Icon" class="snapIcon">
        <h1>TikTok</h1>
        <p>Bienvenue sur la page TikTok !</p>

        <div>
            <button class="home-button" (click)="nextStep()">Commencer la visite</button>
        </div>

        <div id="message-reels-2" class="messages-container" *ngIf="currentStep >= 2 ">
            <h2>Les Vidéo de Tiktok</h2>
            <div>
                <img src="../../assets/tiktok/tiktok-video.png" alt="">
            </div>
            <div class="message">
                <div class="sender-details">
                    Angèle 22 ans, étudiante
                </div>
                <p>
                    "Je trouve que les réels sur Insta sont très vieux jeux en général.
                    J'ai un groupe de copines qui discutent beaucoup par Reels et à
                    chaque fois je suis en mode, ah mais quel âge elles ont quoi.
                    Bref, alors que sur TikTok, tu réagis pas de la même façon, tu
                    vois pas les mêmes contenus. Donc je trouve que c'est pas
                    pareil, disons que c'est pas mon type d'humour."
                </p>
                <p>Vous avez mis une photo où c'est des captures d'écran sur
                    Instagram où les gens s'envoient des réels. Et pour le coup, moi
                    c'est beaucoup sur Tik Tok. Vraiment, on discute à base de Tik
                    Tok.On se répond de temps en temps avec des vrais mots. Et
                    c'est vraiment... Des fois, j'envoie les TikToks et juste on like ou
                    alors on met... Tu sais quand tu likes, tu peux mettre plusieurs
                    emojis.."</p>
                <strong>sur les usages de Tik Tok et sur la
                    comparaison avec les Réels Instagram</strong>
            </div>
            <div>
                <button (click)="nextStep()" class="home-button">Passez aux explications</button>
            </div>
            <div id="message-reels-3" class="explication_Reels" *ngIf="currentStep === 3">
                <h2>Explication de TikTok</h2>
                <p>
                    Tik Tok est une plateforme de diffusion sur laquelle on peut s'envoyer des vidéos entre
                    utilisateurs, et de réagir aux vidéos
                    envoyées par des emojis, qui traduisent l'émotion ressentie par la personne receveuse. Tik Tok donne
                    la possibilité d'associer
                    la vidéo avec des musiques, généralement connues, ce qui donne lieu à des trends, à des tendances
                    passagères et virales qui
                    consistent à se filmer en réutilisant les musiques et en reproduisant les gestes qui y sont
                    associés. Sur Tik Tok, les utilisateurs
                    créent et partagent des références communes et un humour spécifique en jouant avec la musique, son
                    ambiance et ses paroles.
                    Les trend Tik Tok conduisent à tenir un discours, à faire passer un message en coordonnant le geste,
                    l'image et le son. Ainsi,
                    cela n'a rien d'étonnant que Angèle dise qu'elle "discute à base de TikTok" car l'application est un
                    espace d'interaction
                    sociale, et d'expression de formes d'échanges originales, qui n'ont besoin d'aucun mots pour passer
                    un message, une
                    référence et créer du lien avec autrui. Ces formes de familiarités se retrouvent aussi sur Instagram
                    par les Reels (voir sur
                    Instagram), mais Angèle les considère comme "vieux jeux" en raison de l'humour de référence qui ne
                    correspond pas aux
                    tendances actuelles de Tik Tok.
                </p>
                <p>
                    Et vous préférez-vous Instagram ou Tik Tok? êtes-vous d'accord avec Angèle?
                </p>
                <div>
                    <button (click)="restart()" class="home-button">Recommencer la visite</button>
                </div>
            </div>
        </div>
    </div>

    <nav>
        <ul>
            <li><a routerLink="/insta"><img src="../../assets/icons/Instagram.png" alt=""></a></li>
            <li><a routerLink="/snap"><img src="../../assets/icons/snapchat.png" alt=""></a></li>
            <li><a routerLink="/phoneHomePage"><img src="../../assets/icons/home.png" alt=""></a></li>
            <li><a routerLink="/whatsapp"><img src="../../assets/icons/whatsapp.png" alt=""></a></li>
            <li><a routerLink="/tiktok"><img src="../../assets/icons/tiktok.png" alt=""></a></li>
        </ul>
    </nav>
</main>