<main class="mainFrame">
        
  <!-- Affichage heure et date -->
  <div class="statusBar">
      <span id="time"></span>
      <span id="date"></span>
  </div>

  <nav>
      <ul>
          <li><a href="./social/insta.html"><img src="./public/icons/Instagram.png" alt=""></a></li>
          <li><a href="./social/whatsapp.html"><img src="./public/icons/whatsapp.png" alt=""></a></li>
          <li><a href="./social/snap.html"><img src="./public/icons/snapchat.png" alt=""></a></li>
          <li><a href="./social/tiktok.html"><img src="./public/icons/tiktok.png" alt=""></a></li>
      </ul>
  </nav>
</main>