<main class="mainFrame">
    <div class="container">
        <img src="../../assets/icons/Instagram.png" alt="Snapchat Icon" class="snapIcon">
        <h1>Instagram</h1>
        <p>Bienvenue sur la page Instagram !</p>

        <div>
            <h2>Les moyens de communication</h2>
            <ul>
                <li>l'envoi de Reels Instagram</li>
                <li>le partage de Stories instagram</li>
            </ul>
        </div>
        <div id="message-reels" class="messages-container">
            <h2>Les Reels Instagram</h2>
            <div class="message">
                <div class="sender-details">
                    Juliette, vendeuse en boulangerie, 21 ans
                </div>
                <p>"C'est typiquement la discussion que j'ai avec ma soeur
                    sur Instagram, c'est que ça en fait on ne réagit pas par
                    des textes. Parfois, on fait ce qu'il y a là, des petites
                    réactions aux vidéos par des emojis. Mais en fait, on
                    n'écrit pas du tout de texte "</p>
            </div>
            <div class="message">
                <div class="sender-details">
                    Mathias, étudiant, 26 ans
                </div>
                <p>"Je trouve que les Reels, c'est un bon moyen
                    de garder du lien souvent avec des
                    personnes qu'on ne voit pas régulièrement.
                    Quand on n'a pas non plus beaucoup de
                    choses à se partager, je trouve que c'est un
                    moyen d'avoir un lien en fait. C'est ça."</p>
            </div>
        </div>
        <div id="message-stories" class="messages-container">
            <h2>Les Stories Instagram</h2>
            <div class="message">
                <div class="sender-details">
                    Juliette, vendeuse en boulangerie, 21 ans
                </div>
                <p>"Quand je rencontre quelqu'un, que je prends son
                    insta, parce qu'en général c'est une des premières
                    choses que je fais quand je rencontre quelqu'un, je
                    vais passer ma vie à regarder toutes ses stories à la
                    une parce qu'en fait ça dit tellement de choses sur
                    vous, sur qui est la personne, sur ce qu'elle aime et
                    tout. J'aime trop, c'est trop bien. Et puis des fois, ça
                    peut permettre d'engager la discussion, qu'on nous
                    réponde ou pas."</p>
            </div>
            <div class="message">
                <div class="sender-details">
                    Aurélie, 22 ans, étudiante
                </div>
                <p>Je publie quasiment jamais de stories. À part
                    en ami proche [story privée] où je mets que des
                    trucs cons. Souvent, c'est Mathias, sur mes
                    stories "amis-proches" qui fait des conneries, ou
                    des têtes drôles, ou en général, les gens avec
                    qui je suis, ouais... Ça je vais le faire avec mes
                    potes. En général, c'est mes potes très proches.</p>
            </div>

            <div class="explication_Reels">
                <h2>Explication des Réels</h2>
                <p>
                    Les Réels Instagram sont des vidéos de courte durée qui peuvent être produites par tous les
                    utilisateurs d'Instagram, à des fins de
                    divertissement et à être partagées. On observe ici une conversation entre deux personnes qui
                    s'envoient mutuellement ce type de vidéo,
                    sans qu'il n'y ait aucun texte, mais parfois des réactions avec des emojis. Juliette explique que
                    les conversations avec sa sœur sur
                    instagram prennent souvent cette forme. Pour Mathias, ce type de conversation lui permet de “garder
                    du lien” avec des proches, qu'il
                    voit peu en les faisant rire et réagir avec des contenus déjà réalisés, sans pour autant avoir à
                    discuter avec eux. Ainsi, les reels Instagram
                    sont considérés comme un moyen de transmission facile et rapide des ambiances, et d'échanges
                    d'informations et de formes d'humour,
                    susceptibles de résonner chez le destinataire.
                </p>
                <p>
                    Et vous qu'en pensez-vous? Avez-vous ce genre de conversations sur Instagram? A qui et pour quelles
                    raisons envoyez-vous des
                    Reels Instagram? En quoi cela peut-être différent de Tik Tok?
                </p>
            </div>
            <div class="explication_stories">
                <h2>Explication des Réels</h2>
                <p>
                    Une story instagram permet aux utilisateurs de publier des photos ou vidéos, des sondages, des
                    emojis, des liens, ou de republier le
                    contenu d'autres utilisateur. Une story est temporaire: elle disparaît au bout de 24h. Grâce à la
                    fonction “ajouter à la une” les stories
                    peuvent rester indéfiniment visibles sur le profil de l'utilisateur. Les “stories privées” ou “amis
                    proches” sont visibles par les comptes
                    que l'utilisateur choisit.
                </p>
                <p>
                    Pour Angèle, les stories disent beaucoup de choses sur les personnes et permettent de voir ce
                    qu'elles font : des voyages, du sport, de
                    l'humanitaire, du bénévolat et d'autres activités. En regardant ce que ces dernières partagent, nous
                    voyons aussi ce qu'elles aiment.
                    Selon Angèle, elles sont un bon moyen d'engager des relations, de créer de la proximité en ayant des
                    sujets de discussion. Pour Aurélie,
                    les stories privées lui permettent de partager des situations plus intimes avec ses amis les plus
                    proches, dont elle sait que ça les fera rire.
                    Les stories donnent à voir différents degrés de familiarité, du premier contact avec des personnes
                    inconnues jusqu'à l'entre-soi entre
                    amis.
                </p>
                <p>
                    Et vous qu'en pensez-vous? Publiez-vous des stories? En public? En privé? Quelle importance y
                    apportez-vous?
                </p>

            </div>
        </div>
    </div>

    <nav>
        <ul>
            <li><a routerLink="/insta"><img src="../../assets/icons/Instagram.png" alt=""></a></li>
            <li><a routerLink="/snap"><img src="../../assets/icons/snapchat.png" alt=""></a></li>
            <li><a routerLink="/"><img src="../../assets/icons/home.png" alt=""></a></li>
            <li><a routerLink="/whatsapp"><img src="../../assets/icons/whatsapp.png" alt=""></a></li>
            <li><a routerLink="/tiktok"><img src="../../assets/icons/tiktok.png" alt=""></a></li>
        </ul>
    </nav>
</main>