.virtualTour {
  max-width: 800px;
  margin: 5vh auto;
  padding: 30px;
  background: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  color: #333;
}

.virtualTour h1 {
  text-align: center;
  font-size: 3vh;
  margin-bottom: 30px;
  color: #444;
}

.virtualTour ol {
  padding-left: 20px;
}

.virtualTour li {
  margin-bottom: 20px;
  font-size: 2.3vh;
  line-height: 1.6;
}

.virtualTour strong {
  color: #111;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}


@media screen and (max-width: 768px) {
  .virtualTour {
    padding: 0;
  }

  .virtualTour h1 {
    font-size: 2.5vh;
  }

  .virtualTour li {
    font-size: 2vh;
  }

}
